// Your variable overrides
$body-bg: #FAFAFA;
$theme-colors: (
  "light": #FAFAFA
);

@import "../bootstrap/scss/bootstrap";

@font-face {
    font-family: 'MyriadPro';
    src: url("./fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: 'PTSans';
    src: url("./fonts/PTSans.ttc");
}

@font-face {
    font-family: 'SpaceMono';
    src: url("./fonts/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: 'SpaceMono';
    src: url("./fonts/SpaceMono-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'GT-Cinetype';
    src: url("./fonts/GT-Cinetype-Regular.ttf");
}

@font-face {
    font-family: 'GT-Cinetype';
    src: url("./fonts/GT-Cinetype-Regular-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'GT-Cinetype';
    src: url("./fonts/GT-Cinetype-Bold.ttf");
    font-weight: bold;
}

h1 {
  font-family: Poppins;
  color: #66CCCC;
}

h1:after {
  content: '';
  display: inherit;
  width: 6em;
  height: 5px;
  background: #CC99FF;
}

h2, a {
  font-family: SpaceMono;
  color: #333366;
}

h3 {
  font-family: Poppins;
  color: #333366;
}

p {
  font-family: PTSans;
  font-size: 1.25em;
  color: #333366;
}

body {
  display:none;
}

#aboutId, #programId, #faqId, #teamId {
  margin: 0px auto;
}

#navbarIcon {
  width: 50px;
  height: 50px;
}

#mainLogo {
  padding-top: 20vh;
  padding-bottom: 10vh;
  width: 600px;
}

#arrowDown {
  padding-top: 5vh;
  max-height: 100px;
}

.footer-middle {
  background: #3d6277;
  margin-top: 5em;
  padding-top: 5em;
  height: 100px;
  color: white;
}

.footerImage {
  margin-top: 50px;
  width: 100%;
}

.textblock {
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
}

.bounce {
  position: relative;
  -webkit-animation:bounce 1s infinite;
}

.container-fluid {
  padding: 0px;
}

.sideTitle {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.faq {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.card-header, .nav-link {
  cursor: pointer;
}

.sponsor {
  height: 10em;
  display: block;
  margin: 0 auto;
}

.wave {
  color: #333366 !important;
  transition: color .3s;
}

.wave:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #CC99FF;
  transition: width .3s;
}

.wave:hover {
  color: #66CCCC !important;
}

.wave:hover::after {
    width: 100%;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
